.actividad-contenedor{
    margin:auto;
    height: 20rem;
    width: 30%;
    align-items: center;
    font-family: 'Samsung';
    border-radius: 2rem;
    box-shadow: 0 8px 60px rgba(102, 94, 94, 0.3);
    background-color: rgba(0,0,0,.1);
    margin-top: 3rem;
}
.actividad-contenedor h1{
    margin-top: 1rem;
    text-align: center;
}
.items-contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.items-contenedor h4{
    margin-bottom: -1rem;
}
.stars{
    margin-top: 1rem;
    font-size: 1.3rem;
    color:gray;
}

.dificultad-temporada{
    display: flex;
    flex-direction: column;
    width: 20%;
    gap:2rem;
}
.descripcion-duracion{
    gap:1rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.descripcion-actividad{
    height: 6rem;    
}
.dificultad-actividad {
    height: 5rem;    
    width: 7rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.duracion-actividad{
    width: 7rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.temporada-actividad{
    width: 7rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

}
